{% extends "skeleton.tpl.html" %}
{% block content %}
    <div id="sidemenu">
        <a href="{{section.index.permalink}}" class="work_list">
            <h3>{{section.index.title}}</h3>
        </a>
        {% for page in section.pages|sort((a,b)=> a.order <=> b.order) %}
        <a href="{{page.permalink}}" class="work_list">
            <h3>{{page.title}}</h3>
        </a>
        {% endfor %}
    </div>
    <div id="content">
        <h1>{{title}}</h1>
        {% include(content) %}
    </div>
    <div class="cf"></div>
{% endblock %}
