@font-face{
    font-family: "kokumin";
    src: url("/asset?theme=default&filename=kokumin.ttf") format("truetype");
}
body{
    background:#333;
    margin:0;
    color:#fff;
    font-family: "kokumin";
}
a{
    color:#fff;
    text-decoration:none;
    font-weight:bold;
}
header{
    background:#444;
    position:relative;
    padding:120px 24px;
    display:flex;
    justify-content: center;
}
header #logo img{
    max-height:300px;
    filter:drop-shadow(0 0 10px #000);
}

.letter{
    max-width:600px;
    margin:0 auto;
    padding:80px 24px;
    text-align:center;
}
.letter h2{
    margin:0;
    padding-bottom:32px;
}
.letter p{
    margin:0;
    padding:16px 0;
    font-size:1rem;
}
main{
    overflow:hidden;
}
.cf{
    display:block;
}
.cf::after{
    content:"";
    display:block;
    clear:both;
}
#sidemenu{
    width:300px;
    height:100%;
    padding:32px;
    box-sizing:border-box;
    float:left;
    padding-bottom:32767px;
    margin-bottom:-32735px;
}
#content{
    height:100%;
    width:calc(100% - 300px);
    background:#444;
    padding:32px;
    box-sizing:border-box;
    overflow:hidden;
    float:left;
    padding-bottom:32767px;
    margin-bottom:-32735px;
}
footer{
    background:#222;
    text-align:center;
    padding:32px 16px;
}
