@font-face{
    font-family: "kokumin";
    src: url("/asset?theme=default&filename=kokumin.ttf") format("truetype");
}
@keyframes blurin{
    from{
        opacity:1;
        filter:drop-shadow(0 0 10px #000) blur(100px);
    }
    to{
        opacity:1;
        filter:drop-shadow(0 0 10px #000) blur(0);
    }
}
body{
    background:#333;
    margin:0;
    color:#fff;
    font-family: "kokumin";
    writing-mode: vertical-rl;
    height:100vh;
    min-width:100vw;
    overflow-y:hidden;
}
a{
    color:#fff;
    text-decoration:none;
    font-weight:bold;
}
header{
    background:#444;
    position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
    width:100vw;
    box-sizing:border-box;
    height:100%;
}
header #logo img{
    max-height:300px;
    opacity:0;
    animation:blurin forwards ease-in-out 1.0s 1.0s;
}

.letter{
    max-width:600px;
    margin:0 auto;
    padding:80px;
}
.letter h2{
    margin:0 48px;
}
.letter p{
    margin:0 32px;
}
main{
    overflow:hidden;
}
.cf{
    display:block;
}
.cf::after{
    content:"";
    display:block;
    clear:both;
}
#sidemenu{
    width:300px;
    height:100%;
    padding:32px;
    box-sizing:border-box;
    float:left;
    padding-bottom:32767px;
    margin-bottom:-32735px;
}
#content{
    height:100%;
    width:calc(100% - 300px);
    background:#444;
    padding:32px;
    box-sizing:border-box;
    overflow:hidden;
    float:left;
    padding-bottom:32767px;
    margin-bottom:-32735px;
}
footer{
    background:#222;
    padding:80px 64px;
}
